
.btnInfo {
  background: #A0B4A3;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.btnInfo:hover {
  background: #bed4c2;
}

#btnBack {
  background: #db422e
}

#btnBack:hover {
  background: #ff4d36;
}